body {
    background-color: white;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.hero {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 0;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    color: white;
    border-style: none;
    padding: 4px 16px;
    margin: 12px 0;
}

.hero {
    padding: 50px 180px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.media-object-body {
    flex: 1;
}

#img-main {
    flex: 1;
    background-color: grey;
}

.details {
    text-align: center;
    padding: 50px 300px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.media-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 25px;
}

.placeholder {
    height: 150px;
    /* remove height requirement when replacing with a picture */
    width: 150px;
    border-radius: 10px;
    border: 5px solid #3882F6;
    flex: 1 1 auto;
}

.text {
    color: #202020;
    flex: 1 1 auto;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 300px;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.quote-author {
    align-self: flex-end;
    font-weight: 600;
}